/* Index */
.scroll {
  overflow: hidden;
}


.titulo {
  font-family: "Righteous";
}

.form_container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 50px 40px 20px 40px;
  background-color: #ffffff;
  transition: 1s ease;
}


.logo_container {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  background: linear-gradient(180deg,
      rgba(248, 248, 248, 0) 50%,
      #f8f8f888 100%);
  border: 1px solid #f7f7f8;
  filter: drop-shadow(0px 0.5px 0.5px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  border-radius: 11px;
}

.title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Righteous";
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #212121;
}

.subtitle {
  font-size: 0.725rem;
  max-width: 80%;
  text-align: center;
  line-height: 1.1rem;
  color: #8b8e98;
}

.input_container {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: 0.5s ease;
}

.sign-in_btn {
  width: 100%;
  height: 40px;
  border: 0;
  background: rgb(82, 143, 151);
  border-radius: 7px;
  outline: none;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s ease;
}

@media (max-width: 1200px) {
  .scroll {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .form_container {
    min-height: 50vh;
  }

}

.icon {
  width: 20px;
  position: absolute;
  z-index: 99;
  left: 12px;
  bottom: 9px;
  top: 12px;
}

.input_label {
  font-size: 0.75rem;
  color: #8b8e98;
  font-weight: 600;
}

.input_field {
  width: auto;
  height: 40px;
  padding: 0 0 0 40px;
  border-radius: 7px;
  outline: none;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}


.sign-in_btn:hover {
  background: rgb(37, 69, 72);
}

.note {
  font-size: 0.75rem;
  color: #8b8e98;
}

.icon {
  width: 24px;
  height: 24px;
  fill: var(--main-color);
}

/* Modal oscuro */
.modal-dark {
  background-color: rgb(33, 37, 41);
  color: #ffffff;
}

.modal-dark .modal-header,
.modal-dark .modal-footer {
  border-color: #454d55;
}

.modal-dark .close {
  color: #ffffff;
}

.modal-dark .btn-close {
  filter: invert(1);
}

/* Esconder flechas en inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Esconder resize */
textarea {
  resize: none;
}

/* Perfil */

.tarjeta {
  border-radius: 10px;
  width: 17em;
  height: 22.5em;
  background: rgb(248, 249, 250);
  transition: 1s ease-in-out;
  display: flex;
  flex-direction: column;
}

.tarjeta span {
  font-weight: bold;
  color: black;
  text-align: center;
  display: block;
  font-size: 1.5em;
  font-family: "Righteous";
}

.apellido {
  font-size: 1.1em;
  font-family: "Righteous";
}

.tarjeta .info {
  font-weight: 400;
  color: black;
  display: block;
  text-align: center;
  font-size: 0.72em;
  margin: 1em;
}

.tarjeta .img {
  width: 4.8em;
  height: 4.8em;
  background: rgba(115, 115, 115, 0);
  border-radius: 15px;
  margin: auto;
}

.tarjeta .share {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.perfil {
  width: 30px;
  height: 30px;
  border: none;
  background-color: rgb(95, 184, 193);
  border-radius: 50px;
}

.link-perfil {
  color: rgb(95, 184, 193);
  text-decoration: none;
  font-size: 0.9em;
}

.modal-name {
  font-family: "Righteous";
  font-size: 1.5rem;
}

/* Barra de navegacion */
.nav-link:hover {
  color: white;
  background-color: rgb(66, 70, 73);
}

.active {
  color: white;
  background-color: rgb(66, 70, 73);
}

.nav-link:active {
  background-color: rgb(131, 141, 149);
}

/* Filtro de busqueda */
.filtro {
  display: none;
}

/* Boton flotante */
.buttonFloat {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 1;
}

/* Sidebar estatica */
.offcanvas-end {
  position: fixed;
}